@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

/*共通*/
body {
    background: blanchedalmond;
}
img {
    max-width: 100%;
}
a:link,a:hover,a:active,a:visited {
    color: #5a1e05;
}
.navbar {
   background-color: #5a1e05; 
}
.btn-main {
    color: #FFF !important;
    background: #fd9535;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.3em;
    padding: 0.5em 4.5em;
    border: none;
    box-shadow: 0px 4px #d27d00;
}
.btn-main:hover {
    position: relative;
    top: 4px;
    color: #FFF;
    background: #d27d00;
    box-shadow: none;
    transition: .1s;
}
.nav-tabs {
    border-bottom: 1px solid #ac8e82;
    font-weight: bold;
}
.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    background-color: #ac8e82;
    color: #fff;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #ac8e82;
    color: #fff;
}

.card-header {
    background-color: #fff;
    border-bottom: none;
    padding-bottom: 0;
}
.card-title {
    margin-bottom: 0;
}
@media only screen and (min-width:576px) {
    .hidden_pc {
        display: none;
    }
}
input:-internal-autofill-selected  {
    background-color: red;
}

/*トップページ*/
.top_icatch_title {
    font-family: 'RocknRoll One', sans-serif;
    color: #343a3f;
}
.top_icatch_title em {
    font-size: 1.2em;
    font-style: normal;
    color: #9c5030;
}
.top_icatch_image {
    width: 70%;
    margin: 20px auto 30px;
}
@media only screen and (min-width:576px) {
    .top_icatch {
        padding: 4rem 2rem;
    }
    .top_icatch_image {
        width: 300px;
    }
    .top_icatch_image:hover {
        transform: scale(1.2) rotate(9deg);
        transition-duration: 0.5s;
    }
}
